.book-order{
    margin: 16px;
}

.book-order button{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0;
    color: black;
    transition: .3s ease all;
}

.book-order button:hover{
    background-color: black;
    border: 2px solid black;
    border-radius: 0;
    color: white;
    transition: .3s ease all;
}